body{
    background-color:beige
}

h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    color: brown;
    font-style: italic;
    text-align: center;
}

form {
    width: 550px;
    margin:70px;
    padding:50px;
    background-color: wheat;
}
label {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(114, 56, 56);
}

#PatientName, #Age{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    border: 5px solid rgb(67, 44, 44);
    background-color:azure;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
}
div.Header, div.topnav{
    margin: 10px;
    text-align: center;
    padding: 10px;
    border: 10px;
    border-radius: 10px;
    background-color: rgb(206, 206, 142);
    font-size: 25px;    
}
*{
    text-align: left;
    color:rgb(110, 74, 43);
}

input[type="text"], input[type="number"],select{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    margin: 5px;
    font-style: normal;
}
textarea{
    max-width: 500px;
    min-width: 200px;
    resize:horizontal;
}