body{
    font-family: Arial, sans-serif;
    background-color: white;
    align-items: center;
    margin: 0;
    padding: 80px
}
h1{
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: black;
    text-align: center;
}
form {
    background-color: #f3f3f3;
    width: 600px;
    height: 600px;
    padding: 35px;
    border-radius: 6px;
}
table {
    width: 80%;
    border-spacing:15px;
    align-content: center;
}
td {
    width: 50%;
    padding: 15px;
}
label {
    font-weight: bold;
    font-size: 16px;
    color: black;
    margin: 6px;
}
input,textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #d6d6d6;
    border-radius: 3px;
    font-size: 14px;
}
button{
    color: white;
    background-color: #183519;
    font-size: 20px;
    padding:10px 40px;
    text-align: center;
}